<div class="main">
  <div class="container">

    <%= render "layouts/headline" %>

    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12">
        <h1><%= @title %></h1>
        <div class="content-page">
          <div class="row">

            <div class="col-md-9 col-sm-9">
              <!-- BEGIN FORM-->
              <%= render 'form', blog: @blog %>
              <!-- END FORM-->

              <br><br>
              <%= link_to 'Show', @blog %> |
              <%= link_to 'List', blogs_path %>
            </div>

            <%= render "sidebar" %>

          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</div>