<div class="main">
  <div class="container">

    <%= render "layouts/headline" %>

    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1><%= @title %></h1>
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-posts">

              <% if notice %>
                <div class="alert alert-success" role="alert">
                  <%= notice %>
                </div>
              <% end %>

              <% @blogs.each do |blog| %>
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <img class="img-responsive" alt="" src="/img/works/img4.jpg">
                </div>
                <div class="col-md-8 col-sm-8">
                  <h2>
                    <%= link_to blog do %>
                      <%= blog.title %>
                    <% end %>
                  </h2>
                  <ul class="blog-info">
                    <li><i class="fa fa-calendar"></i> <%= blog.created_at.strftime("%b %e, %Y") %></li>
                    <li><i class="fa fa-comments"></i> 17</li>
                    <li><i class="fa fa-tags"></i> Metronic, Keenthemes, UI Design</li>
                    <li><i class="fa fa-pencil"></i> <%= link_to 'Edit', edit_blog_path(blog) %></li>
                    <li><i class="fa fa-trash"></i> <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                  <p>
                    <%= blog.content %>
                  </p>
                  <%= link_to blog, class: "more" do %>
                    Read more <i class="icon-angle-right"></i>
                  <% end %>
                </div>
              </div>
              <hr class="blog-post-sep">
              <% end %>

              <%= will_paginate @blogs, renderer: BootstrapPagination::Rails, previous_label: "«", next_label: "»" %>

            </div>
            <!-- END LEFT SIDEBAR -->

            <%= render "sidebar" %>

          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>