<div class="main">
  <div class="container">

    <%= render "layouts/headline" %>

    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1><%= @title %></h1>
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-item">

              <% if notice %>
                <div class="alert alert-success" role="alert">
                  <%= notice %>
                </div>
              <% end %>

              <div class="blog-item-img">
                <img src="/img/posts/img3.jpg" alt="">
              </div>
              <h2><a href="javascript:;"><%= @blog.title %></a></h2>
              <p>
                <%= @blog.content %>
              </p>
              <ul class="blog-info">
                <li><i class="fa fa-user"></i> By admin</li>
                <li><i class="fa fa-calendar"></i> <%= @blog.created_at.strftime("%b %e, %Y") %></li>
                <li><i class="fa fa-comments"></i> 17</li>
                <li><i class="fa fa-tags"></i> Metronic, Keenthemes, UI Design</li>
                <li><i class="fa fa-pencil"></i> <%= link_to 'Edit', edit_blog_path(@blog) %></li>
                <li><i class="fa fa-trash"></i> <%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>

              <h2>Comments</h2>
              <div class="comments">
                <div class="media">
                  <a href="javascript:;" class="pull-left">
                    <img src="/img/people/img1-small.jpg" alt="" class="media-object">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading <span>5 hours ago / <a href="javascript:;">Reply</a></span></h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <!-- Nested media object -->
                    <div class="media">
                      <a href="javascript:;" class="pull-left">
                        <img src="/img/people/img2-small.jpg" alt="" class="media-object">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading <span>17 hours ago / <a href="javascript:;">Reply</a></span></h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      </div>
                    </div>
                    <!--end media-->
                    <div class="media">
                      <a href="javascript:;" class="pull-left">
                        <img src="/img/people/img3-small.jpg" alt="" class="media-object">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Media heading <span>2 days ago / <a href="javascript:;">Reply</a></span></h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      </div>
                    </div>
                    <!--end media-->
                  </div>
                </div>
                <!--end media-->
                <div class="media">
                  <a href="javascript:;" class="pull-left">
                    <img src="/img/people/img4-small.jpg" alt="" class="media-object">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading <span>July 25,2013 / <a href="javascript:;">Reply</a></span></h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  </div>
                </div>
                <!--end media-->
              </div>

              <div class="post-comment padding-top-40">
                <h3>Leave a Comment</h3>
                <form role="form">
                  <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text">
                  </div>

                  <div class="form-group">
                    <label>Email <span class="color-red">*</span></label>
                    <input class="form-control" type="text">
                  </div>

                  <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" rows="8"></textarea>
                  </div>
                  <p><button class="btn btn-primary" type="submit">Post a Comment</button></p>
                </form>
              </div>
            </div>
            <!-- END LEFT SIDEBAR -->

            <%= render "sidebar" %>
            
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>